.about__cont {
  display: flex;
  flex-direction: column;
  align-items: center;

  widows: 100%;
}

.about__content__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
