html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.mobile__burger__transition-enter,
.mobile__menu__transition-enter {
  opacity: 0;
}
.mobile__burger__transition-exit,
.mobile__menu__transition-exit {
  opacity: 1;
}
.mobile__burger__transition-enter-active,
.mobile__menu__transition-enter-active {
  opacity: 1;
  transition: 500ms;
}
.mobile__burger__transition-exit-active,
.mobile__menu__transition-exit-active {
  opacity: 0;
  transition: 500ms;
}
